@import '@fortawesome/fontawesome-free/css/fontawesome.css';
@import '@fortawesome/fontawesome-free/css/all.css';
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Economica:ital,wght@1,700&family=Paytone+One&display=swap');

@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

html{
    min-height:100%;
 	background-image: url('/img/bg4.png') fixed;
    background-repeat:no-repeat;
    background-position:bottom left;
    background-size: cover;
}

body {
   line-height: 1;
    padding-bottom:200px;
}



.logo {
	font-family: 'Bungee Shade', cursive;
}

.brand {
	 color: #355d9f;
	/*@apply text-white;*/
	/*color: lightblue;*/
}